<html>
  <title>this is a sercret chat test</title>
  <script src="jquery-1.6.2.min.js" type="text/javascript" ></script> 
  <script type="text/javascript" >
    $(document).ready(function(){
      $.ajaxSetup({ cache: false });

      $('#send').click(function() {
        send_message()
      });
      
      $('#form').submit(function() {
        send_message()
        return false;
      });
    
    });
    
    function load_chat(){
      $.getJSON("/load_chat?chatID="+$('#chatID').val()+"&userID="+$('#userID').val(),function(json){
        $("#members").empty();
        $.each(json.members,function(i,member){
          
          $("#members").append($("<option />").val(member.id).text(member.name));
         
        });
        $.each(json.messages,function(i,msg){
          
          if($('#'+i).length==0){
            $("#messages").append("<li id='"+i+"'>"+msg.message+"</li>");
          }
        });
      });
    }
    
    function send_message(){
      var url_send = "/send_message?chatID="+$('#chatID').val()+"&userID="+$('#userID').val()+"&message="+$('#message').val()
      $.ajax({
        url: url_send,
        success: function(id){
          $("#messages").append("<li id='"+id+"'>"+$('#message').val()+"</li>");
          $("#message").val("");
        }
      });
    }
    
    
    
    
    
  </script>
  <body onload="setInterval('load_chat()', 5000);"  >
    <form id="form" >
      <input type="hidden" id="lastmessageID" name="lastmessageID" value="0"/>
      <input type="hidden" id="userID" name="userID" value="<%=@userID%>"/>
      <input type="hidden" id="chatID" name="chatID" value="<%=@chatID%>"/>
      <table>
        <th><%=@chatID%></th>
        <tr>
          <td>
            <ul id="messages">

            </ul>

          </td>
          <td>

            <select multiple="" id="members" name="members">
              <%
              @members.each do |user|
              %>
                <option id="<%=user[0]%>"><%=user[1]["name"]%></option>
              <%
              end unless @members.nil?
            %>
            </select>
          </td>          
        </tr>
        <tr>
          <td colspan="2">
            <input type="text" id="message" name="message" size="50">
            <input type="button" id="send" value="Send" >
          </td>
        </tr>
      </table>
    </form>
  </body>

</html>
